<div class="uk-form-controls">
  <label>To get started, paste in a <a rel="noopener noreferrer" target="_blank" href="https://developers.arcgis.com/rest/services-reference/resources-and-operations.htm">valid ArcGIS REST Service URL</a>:
  </label>
  <input
    class="uk-input <%= status_class(@status) %>" 
    type="text"
    name="url"
    value="<%= @url %>"
    list="matches"
    placeholder="service url" 
  />
</div>