<div class="uk-form-controls">
  <input
    class="uk-input <%= status_class(@status) %>" 
    type="text"
    name="url"
    value="<%= @url %>"
    list="matches"
    placeholder="service url" 
  />
</div>