<!-- lib/gallery_web/templates/live.html.leex -->
<main role="main" class="container">
  <h1>ArcGIS Exporter</h1>
  <p><%= live_flash(@flash, :notice) %></p>
  <p><%= live_flash(@flash, :error) %></p>
  <%= @inner_content %>
</main>