<!-- lib/gallery_web/templates/live.html.leex -->
<main role="main" class="uk-container uk-container-small">
  <p><%= live_flash(@flash, :notice) %></p>
  <p><%= live_flash(@flash, :error) %></p>
  <%= @inner_content %>
</main>