<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "ArcgisExport · Phoenix Framework" %></title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="uk-section uk-section-primary">
      <div class="uk-container uk-container-small">
        <div class="uk-panel uk-light uk-margin-medium">
          <h1>ArcGIS Export</h1>
          <p>Simply export all the data from an ArcGIS REST service endpoint to a CSV file</p>
        </div>
      </div>
    </div>

    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
